JWT_SECRET="my-secret"
PORT="8080"
DB_USER="postgres"
DB_PASS="1234"
DB_HOST="localhost"
DB_DATABASE="pedidocerto"
DEFAULT_ADMIN_USERNAME="admin"
DEFAULT_ADMIN_PASS="admin"
FASTIFY_AUTOLOAD_TYPESCRIPT=1